################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LegoLoad/obj/Debug
/LegoLoad/.vs/LegoLoad/v15
/LegoLoad/bin/Debug
/LegoLoad/packages/Neo4j.Driver.1.5.2
